NEXT_PUBLIC_PREVIEW_STORYBLOK_TOKEN=""
NEXT_PUBLIC_PRODUCTION_STORYBLOK_TOKEN=""
NEXT_PUBLIC_SITE_URL="https://your-domain.com"


NEXT_PUBLIC_PREVIEW_STORYBLOK_TOKEN="your_preview_token"
NEXT_PUBLIC_PRODUCTION_STORYBLOK_TOKEN="your_production_token"
NEXT_PUBLIC_SITE_URL="https://your-vercel-deployed-domain.vercel.app"